#navigation ul {
    list-style: none;
}

#navigation ul li {
    float: left;
    width: 48%;
    margin: 0 1%;
    text-align: center;
}

#navigation ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #c10f0f;
}
#navigation ul li.active a,
#navigation ul li:hover a {
    background: #8e0404;
}

.groups-check-list {
    overflow: hidden;
    list-style: none;
}
.groups-check-list li {
    float: left;
    width: 200px;
    height: 30px;
    opacity: hidden;
}

.groups-holder {display: none}